.menu_li {
    display: inline-block;
    list-style: none;
    margin: 10px;
}

.menu_li a{
    color: #0275d8;
    text-decoration: none;
}

.menu {
    border-bottom: 1px solid gray;
    margin: 20px 0;
}